<ion-header>
  <navbar title="Business Listings"></navbar>
</ion-header>

<ion-content padding>
    <!-- <category [image]="'./assets/imgs/consulting.jpg'" name="Consulting" (click)="openCategory()"></category>
    <category [image]="'https://images.financialexpress.com/2014/06/it-hardware-reuters.jpg'" name="IT Hardware" (click)="openCategory()"></category>
    <category name="Miscellaneous" (click)="openCategory()"></category> -->
    <ion-list>
      <category *ngFor="let advert of adverts" [image]="advert.adImage" [sponsored]="true"></category>
      <category *ngFor="let business of businessList" name={{business.name}} (click)="openCategory(business.id)" [image]="business.categoryImage" count={{business.count}}></category>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
