<!-- Generated template for the CategoryComponent component -->
<div class="category">
  <div class="image">
    <img src="../../assets/imgs/category_backgorund.png" alt="">
  </div>
  <div class="content">
    <div>
      Category
    </div>
    <div>
      <review></review>
      <review></review>
      <review></review>
      <review></review>
      <review></review>
    </div>
  </div>
  <div class="category-footer">
    <div>
      <b>Open Now</b>
      <span class="dot"></span>
      <span class="dist"><b>Nearest 0.4 kms</b></span>
    </div>
    <div style="font-weight: bolder;">
      1113.2
    </div>
  </div>
</div>
