<!-- Generated template for the ProfileModalComponent component -->
<div class="container" (click)="closeModal()">
</div>

<div class="mini-profile-wrapper">

  <div class="profile-pic">
    <img src="./assets/imgs/profile.png">
  </div>

  <div class="content">
    <h3 class="title" text-center>
      <span>
        <ion-icon name="md-contact"></ion-icon>
      </span>
      <span>{{memberDetails.userFirstName}}</span>
      <span>{{memberDetails.userLastName}}</span>
    </h3>

    <h3 class="title" text-center>
      <span>
        <ion-icon name="md-briefcase"></ion-icon>
      </span>
      <span>{{memberDetails.companyName}}</span>
    </h3>

    <h5 text-center class="title">
      <span>
        <ion-icon name="md-pin"></ion-icon>
      </span>
      <span class="address">
        129, Shanti Nagar, West Janakpuri, Delhi
      </span>
    </h5>

    <h3 text-center class="title">
      <span>
        <ion-icon name="md-globe"></ion-icon>
      </span>
      <span>
        India
      </span>
    </h3>

    <ion-row class="mt-1" justify-content-around>
      <ion-col>
        <button class="call">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-col>
  
      <ion-col>
        <button class="message-btn">
          <ion-icon name="md-mail"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>

</div>
