<!-- Generated template for the CardComponent component -->
<div ion-row align-items-center class="card">
  <div ion-col col-3 class="card-img">
    <img src="../../assets/imgs/profile.png">
  </div>
  <div ion-col col-7 class="card-desc">
    <div class="desc-item">
      John Doe
    </div>
    <div class="desc-item">
      Address
    </div>
    <div class="desc-item">
      Company
    </div>
  </div>
  <div ion-col col-2 class="card-footer">
    <ion-icon name="arrow-forward"></ion-icon>
  </div>
</div>
