<!-- Generated template for the CardComponent component -->
<div ion-row justify-content-around center class="card">
  <div ion-col col-3 class="card-img">
    <img src="{{profileImgUri}}">
  </div>
  <div ion-col col-6 class="card-desc">
    <div class="desc-item" block>
      {{name}}
    </div>
    <div class="desc-item" block>
      {{company}}
    </div>
    <div class="desc-item" block>
      {{address}}
    </div>
  </div>
  <div ion-col col-2 class="card-footer" (click)="showProfile()">
    <button transparent-button>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</div>
