card {
    .card {
        border-bottom: 2px solid color($colors, alt-light);
        padding: 16px 0;
        .card-desc {
            .desc-item {
                color: color($colors, light);
                font-size: $h4-font-size;
                font-weight: bold;

                &:not(:first-child) {
                    font-weight: lighter;
                    font-size: $h5-font-size;
                }
            }
            background: color($colors, alt-light);
            padding: 2px 8px;
            border-radius: 8px;
        }

        .card-footer {
            text-align: center;
            ion-icon {
                color: color($colors, secondary);
                font-weight: bolder;
                font-size: 25px;
            }
        }
    }
}
