<ion-menu [content]="content">

  <div class="custom-menu-override">
    <div class="background-blurred">
      
    </div>
    <div menuClose class="profile-menu-container" (click)="goToProfile()">
      <div class="image">
          <img src="./assets/imgs/profile.png">
      </div>
      <div *ngIf="profileData">
        <span>{{profileData.firstName}} {{profileData.lastName}}</span>
        <span>{{profileData.companyName}}</span>
      </div>
    </div>

    <div menuClose *ngFor="let p of pages" (click)="openPage(p)">
      <span class="active" *ngIf="active == p.title"></span>{{p.title}}
    </div>
    <div menuClose (click)="openSearch()">
      Search
    </div>
    <div menuClose *ngIf="!showLogout" (click)="goToLogin()">
      Login
    </div>
    <div menuClose *ngIf="showLogout" (click)="goToLogout()">
      Logout
    </div>
  </div>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
