<ion-navbar>
  <div class="nav">
    <div>
      <button color="primary" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>

    <div style="flex-grow:2">
      <ion-title>
        {{title}}
      </ion-title>
    </div>

    <div>
      <button *ngIf="!addProductBtn && !saveProductBtn" color="primary" (click)="openSearch()" ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
      <button *ngIf="addProductBtn" color="primary" ion-button (click)="openAddProductComponent()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button *ngIf="saveProductBtn" color="primary" ion-button type="submit">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </div>
  </div>
</ion-navbar>
