<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding>

  <div class="search-container">
    <form (submit)="onSubmit($event)" [formGroup]="searchForm">
      <div class="form-control search" ion-row no-padding>
        <!-- <div ion-col col-2 no-padding>
          <button (click)="dismiss()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </div> -->
        <div ion-col col no-padding>
          <input type="text" placeholder="Search" formControlName="searchTerm">
        </div>
      </div>
    </form>
    <div class="close-btn">
      <button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </div>
  </div>

  <div class="recommended" *ngIf="showList" ion-row>
    <ion-list no-lines>
      <ion-item>
        Categories
      </ion-item>
      <!-- <ion-item>
        Shoes
      </ion-item>
      <ion-item>
        Cars
      </ion-item>
      <ion-item>
        Music
      </ion-item> -->
      <ion-item *ngFor="let cat of categoriesRes" (click)="openCategory(cat.categoryId)">
        <alternate-card [title]="cat.categoryName"></alternate-card>
      </ion-item>

      <ion-item *ngIf="noCategoriesFound">
        No catergories found.
      </ion-item>
    </ion-list>
  </div>

  <div class="recommended" *ngIf="showList" ion-row>
    <ion-list no-lines>
      <ion-item>
        Users
      </ion-item>
      <ion-item *ngFor="let user of usersRes" (click)="openProfileModal(user.userId)">
        <alternate-card [title]="user.firstName" [companyName]="user.companyName"></alternate-card>
      </ion-item>

      <ion-item *ngIf="noUsersFound">
        No users found.
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
